



section {
    width: 100vw;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.btn-carrito{

margin-left: 3vh;
}

.btn-registro{

margin-left: 2vh;
}


.card {
    overflow: hidden;
    width: 20rem;
}



.btn-bg {
    background-color: #11621c;
    color: #fff;
    font-weight: bold;
}

.btn-bg:hover {
    color: #fff;
}

.top-header {
    position: fixed;
    top: 0;
    width: 100%;
}

input.error {
    border: 2px solid rgb(214, 6, 6);
}

label.error {
    color: rgba(255, 255, 255, 0);
}
