



section {
    width: 100vw;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.btn-carrito{

margin-left: 3vh;
}

.btn-registro{

margin-left: 2vh;
}


.card {
    overflow: hidden;
    width: 20rem;
}



.btn-bg {
    background-color: #13ec30;
    color: #fff;
    font-weight: bold;
}

.btn-bg:hover {
    color: #fff;
}
